// Mixins pour le responsive (Mobile First par défaut, on gère les grands écrans ici)
@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1024px) {
        @content;
    }
}

// Mixin avec paramètres pour styliser rapidement le texte
@mixin text-format($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}

// Mixin pour couper le texte trop long avec des points de suspension (...)
@mixin text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}