// BOUTON PRINCIPAL
.btn {
    display: inline-block;
    @extend %flex-center;       
    @extend %gradient-primary;  
    @extend %shadow-light;      
    
    color: $text-light;
    border-radius: 2rem;        
    padding: 1rem 1.5rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
    opacity: 1;

    &:hover {
        opacity: 0.85;
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
    }
}

// BOUTON COEUR
.btn-heart {
    background: transparent;
    border: none;
    font-size: 1.5rem; 
    cursor: pointer;
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .heart-empty {
        color: $text-main;
        transition: opacity 0.3s ease-in-out;
        opacity: 1;
    }

    .heart-filled {
        position: absolute;
        background: linear-gradient(180deg, $primary 0%, $secondary 100%);
        background-clip: text; 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        transform: scale(0);
        opacity: 0;
    }

    &:hover, &--active {
        .heart-empty {
            opacity: 0; 
        }
        .heart-filled {
            transform: scale(1); 
            opacity: 1;
        }
    }
}